<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827105678046-t7ujc2i0ckpk4si6i1u1t2m3hbpr7urg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827105678046-t7ujc2i0ckpk4si6i1u1t2m3hbpr7urg</string>
	<key>API_KEY</key>
	<string>AIzaSyCV505eOmAEuaZlW959kJJB72kxAwAS2ek</string>
	<key>GCM_SENDER_ID</key>
	<string>827105678046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>corralesruizi.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>intagramfirebase-9ad79</string>
	<key>STORAGE_BUCKET</key>
	<string>intagramfirebase-9ad79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827105678046:ios:1ac5d862586e22d6</string>
	<key>DATABASE_URL</key>
	<string>https://intagramfirebase-9ad79.firebaseio.com</string>
</dict>
</plist>